@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
.navbar{
    text-align: left;
    display: flex;
    align-items: center;

}

.sidebar{
    border-right: 1px solid;
    border-color: black;
}

.navbar > img {
    width: 250px;
}

h1, h2, h3, h4{
    font-family: 'Be Vietnam Pro', sans-serif;
}



