.headerComponent {
    color: whitesmoke;
    background-color: #e04356 ;
    flex: content;
}

.acceder:hover {
    background-color: #a32e3c;
    cursor: pointer;
}

.registro:hover {
    background-color: #a32e3c;
    cursor: pointer;
}