.contenedor{

    display: inline-flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.UFPS{
    border: 1px solid #383838;
    display: grid;
    height:300px;
    width: 400px;
    background-image: url("../ufps_resource/3.png");
    
}

.bienvenido{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size:35px;
    color: cornsilk;
    padding-top: 190px;
}

::placeholder{
    font-weight: bolder;
}

.form{
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}
 
.input_re{
    border-radius: 5px;
    height: 30px;
    width: 300px;
    padding-top: 15px;
    margin-top: 15px;
    border: 1px solid #383838;
    transition: all .3s;
    background-color: whitesmoke;
} 

@media only screen and (max-width: 400px){
    form input{
        width: 200px;
    }
}

.button_registro{
    margin-top: 15px;
    border-radius: 50px;
    height: 50px;
    width: 200px;
    color: whitesmoke;
    background-color: #e04356 ;
    font-weight: bolder;
    border: 0px;
}